$dark: #303030;
$pink: #db6189;
$coral: #a23f5f;
$white: #ffffff;
$gray: #adadad;
@import "../libs/media/_media-queries.scss";
@include min-screen(1201px){

}
@include screen(992px, 1200px){
  #header{
    img{
      max-width: 90%;
    }
    .links{
      max-width: 90%;
    }
  }
  #home{
    h1{

      font-size: 2em;
      letter-spacing: 5px;
      line-height: 1;
    }
    button{
      width: 170px;
      height: 70px;

    }
  }
  #team{
    .btn-adrian{
      margin-left: 132px;
    }
    .btn-julie{
      margin-left: 134px;
      margin-top: -56px;
    }
  }
}
@include screen(768px, 991px){
  #header{
    img{
      max-width: 80%;
    }
    .links{
      max-width: 80%;
    }
    .fa-lg {
      font-size: 1.6em;
    }
    h3 {
      font-size: 1.25em !important;
      letter-spacing: 3px;
    }
  }
  #home{
    h1{

      font-size: 2em;
      letter-spacing: 5px;
      line-height: 1;
    }
    .digital{
      padding-top: 50px;
    }
    button{
      width: 128px;
      height: 60px;

    }
    .btn-right {
      margin-left: 20px;
    }
  }
  #team{
    .team-description-julie{
      padding-top: 10px;
    }
    .btn-adrian{
      margin-left: 78px;
    }
    .btn-julie{
      margin-left: 80px;
      margin-top: -57px;
    }
  }


}
@include max-screen(767px){
  #header{
    img{
      max-width: 70%;
    }
    .fa-lg {
      font-size: 1.2em;
    }
    .links{
      margin-top: 5px;
    }
    h3 {
      font-size: 1.25em !important;
      letter-spacing: 3px;
      margin-top: 10px;
    }
  }

  #home{
    .robot{
    }
    img{
      max-width: 300px;
    }
    .digital {
      padding-top: 10px;
      padding-bottom: 30px;
      padding-left: 20px;
    }
    button{
      width: 100%;
      height: 60px;

    }
    .btn-right {
      margin-left: 0px;
    }
  }
  #team{
    .team-description-julie{
      padding-top: 10px;
    }
    button {
      width: 170px;
      height: 70px;
      font-size: 14px;
    }
    .fa-lg{
      font-size: 1.2em;
    }
    .btn-adrian{
      margin-left: 35%;
      margin-top: -100px;
    }
    .btn-julie{
      margin-left: 35%;
      margin-top: -100px;
    }
  }

}


























